*{
	font-family: 'Roboto', sans-serif;

}
body{
	background-image: url("../images/office1.jpg");
	background-size: 100% 100%; 
}
.container{
	background-image: url("../images/repeat.jpg");
	background-repeat: repeat;
}
h1{
	text-align: center;
}
#heading{
	margin-top: -50px;

}
h4{
	box-sizing: border-box;
	border-top: 2px solid black;
	margin-left: 90px;
	margin-right: 90px;
	padding-top: 10px;
	padding-bottom: 20px;
	border-bottom :	2px solid black;
}
.navback{
	background: #63C700;
	border-radius: 5px;
}
.past{
	background: #0E90FF;
	border-radius: 5px;
}
ul li a{
	color: black;
}
.pastbox{
	height: 20px;
	width: 170px;
	background:#0E90FF;
	color: black;
}
.current{
	height: 20px;
	width: 170px;
	background: #63C700;
	color: black;
}
.nobackground{
	background:none;
	}
	